@font-face {
  font-family: 'poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2');
  font-display: swap;
}

body {
  overflow-x: hidden;
  font-family: 'poppins';
  font-weight: 400;
  font-size: '1.5rem';
  line-height: '2rem';
  letter-spacing: '-0.01em';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'lato';
  font-weight: 700;
  font-size: '2rem';
  line-height: '2.5rem';
  letter-spacing: '-0.02em';
}
