.btn-load-file {
  position: sticky;
  border: 1px solid var(--border-color);
  z-index: 3;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: auto;
  svg {
    width: var(--font-size);
    height: var(--font-size);
    animation: svg-animation 0.2s;
  }
}

.form-file.open {
  z-index: 2;
  transform: translate(0, 0);
}
.form-file {
  position: fixed;
  z-index: -1;
  transform: translate(100%, 0);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  row-gap: 3rem;
  background-color: var(--bg-color-secondary);
  inset: 0;
  .mime-types-list {
    display: flex;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    ul {
      list-style: inside '👉 ';
      gap: 0.5rem;
      display: flex;
      overflow-x: auto;
      li {
        white-space: nowrap;
      }
    }
  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    #fileInput {
      cursor: pointer;
      transition: scale 0.6s;
      display: grid;
      &::file-selector-button {
        display: none;
      }
      &:hover {
        scale: 0.98;
        transition: scale 0.2s;
      }
    }
  }
  .pages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    span {
      grid-row: 2;
      display: flex;
      flex-direction: column;
    }
    small {
      grid-column: 1/-1;
    }
  }
  button {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 12px;
  }
}

@keyframes svg-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
